<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="pannel-title">Cart</h3>
    </div>
    <div class="panel-body">
        <div class="container" *ngIf="items.length > 0; else emptyCart">
            <app-cart-item
                *ngFor="let item of items; trackBy: trackByItems"
                [item]="item"
                (increaseQuantity)="onIncreaseQuantity($event)"
                (decreaseQuantity)="onDecreaseQuantity($event)"
                (deleteItem)="onDeleteItem($event)">
            </app-cart-item>
            <div>Total cost: {{totalCost}}</div>
            <div>Total quantity: {{totalQuantity}}</div>
            <button type="button" class="btn btn-secondary clear" (click)="onClear()">Clear all</button>
        </div>
        <ng-template #emptyCart>
            Cart is empty
        </ng-template>
    </div>  
</div>
